

<div>
    <h1>Hello, World. This is Profile Page</h1>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">Age</th>
      <th scope="col">Country</th>
      <th scope="col">City</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      @* <th scope="row">1</th>
      <th>Mark</th>
      <td>Otto</td> *@

      <td>@Model.Name</td>
      <td>@Model.Surname</td>
      <td>@Model.DOB</td>
      <td>@Model.Age</td>
      <td>@Model.Country</td>
      <td>@Model.City</td>
    </tr>
  </tbody>
</table>
</div>

